<header>
    <h1>Bem-vindo ao Sistema</h1>
    <nav>
      <a href="/dashboard">Painel de Controle</a>
      <% if (user.role === 'admin') { %>
        <a href="/register-funcionario">Cadastrar Funcionário</a>
      <% } %>
      <a href="/logout">Sair</a>
    </nav>
  </header>
  